.App {
  width: 100%;
}

.Home_wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.Title {
  text-align: center;
  margin-top: 50px;
}

.Home {
  display: flex;
  margin: 80px 60px;
}

.Welcome {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.Welcome h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 300;
  margin: 40px auto;
}

.Welcome h2 {
  font-size: 30px;
  font-weight: 200;
}

.Home_wrapper p {
  font-size: 34px;
  font-family: fantasy;
  font-weight: bolder;
  margin-top: 40px;
  text-align: center;
}

.Logo {
  width: 80px;
  margin: 0 30px;
}

.Header_wrapper {
  background-color: grey;
}

.Header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.Navi {
  display: flex;
  margin: 0 30px;
}

.Navi h2 {
  color: rgb(172, 172, 172);
  margin: 0 auto;
  padding: 15px 10px;
}

.Navi a {
  color: rgb(172, 172, 172);
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  transition: border-bottom 200ms ease;
}

.Navi a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.Navi .Active {
  color: black;
}

.NotLoggedIn {
  margin: 30px auto;
  text-align: center;
}

.NotLoggedIn p{
  font-family: fantasy;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 60px;
}

.NotLoggedIn h1 {
  font-size: 26px;
  margin: 30px auto;
}

.Form_wrapper {
  margin: 50px auto;
  width: 500px;
}

.Form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 30px;
  width: 60%;
}

.Form label {
  color: rgb(121, 121, 121);
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px;
  text-transform: uppercase;
}

.Form input {
  font-size: 16px;
  height: 25px;
  margin: 10px;
}

.Form button {
  font-size: 16px;
  margin: 20px 10px;
}

.Form button:hover {
  cursor: pointer;
}

.Form a {
  font-size: 13px;
  text-align: center;
}

.Form textarea {
  white-space: pre-wrap;
}

.PostNavi {
  background-color: rgb(233, 233, 233);
  border-left: solid 5px grey;
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 350px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
}

.PostNavi .Row {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px 10px 8px;
  width: 200px;
}

.Row .NotUserPost {
  color: rgb(107, 107, 107);
  padding-left: 25px;
  text-decoration: none;
}

.Row .UserPost {
  color: rgb(107, 107, 107);
  text-decoration: none;
}

.NotUserPost:hover {
  color: rgb(43, 43, 43);
}

.UserPost:hover {
  color: rgb(43, 43, 43);
}

.TopRow {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 43px;
  justify-content: space-evenly;
}

.TopRowText {
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
}

.TopRowText:hover {
  color: rgb(189, 189, 189);
}

.CreatePost_wrapper {
  max-width: 1080px;
  margin: 10px auto;
}

.CreatePostForm textarea {
  font-size: 16px;
  height: 100px;
  margin: 10px;
}

.CreatePostForm button {
  margin: 30px auto;
  width: 30%;
}

.Return {
  margin: 50px 0 30px 70px;
}

.Return a {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
}

.SinglePost_wrapper {
  max-width: 1080px;
  margin: 30px auto;
}

.SinglePost {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 80%;
}

.SinglePost .Text {
  width: 60%;
  margin: 0 auto;
}

.SinglePost .Text p {
  color: rgb(94, 94, 94);
  font-size: 20px;
  margin: 50px 30px;
  white-space: pre-wrap;
}

.SinglePost .Text h1 {
  color: rgb(87, 87, 87);
  font-size: 16px;
  font-weight: 200;
  margin: 40px 30px;
}

.SinglePost .Text h2 {
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 30px;
}

.SinglePost .Image {
  width: 60%;
  margin: 20px auto;
}

.SinglePost .Image img {
  max-width: 100%;
  max-height: 350px;
}

.Weather h3 {
  font-size: 18px;
  font-weight: 200;
}